name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build:
    docker-build-and-test:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

          name: Build Docker Image
                run: docker build -t todo-api .

                
          name: Run Security Audit
                run: docker run --rm todo-api npm audit

                
          name: Run Linting
                run: docker run --rm todo-api npm run lint

        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build Docker image
          run: |
            docker build -t ghcr.io/${{ github.repository }}:latest .

        - name: Push Docker image
          run: |
            docker push ghcr.io/${{ github.repository }}:latest