name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t todo-api .

      - name: Run ESLint
        run: docker run --rm todo-api npm run lint

      - name: Check Prettier formatting
        run: docker run --rm todo-api npm run format:check

      - name: Run Security Audit
        run: docker run --rm todo-api npm audit

      - name: Run tests
        run: docker run --rm -v ${{ github.workspace }}/coverage:/app/coverage todo-api npm run test

      - name: Verify coverage file
        run: |
          echo "Listing coverage folder:"
          ls -la coverage || echo "coverage folder missing"
          if [ -f coverage/lcov.info ]; then
            echo "lcov.info exists ✅"
            head -n 5 coverage/lcov.info
          else
            echo "lcov.info NOT found ❌"
            exit 1
          fi

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 2

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag Docker image
        run: docker tag todo-api ghcr.io/${{ github.repository }}:latest

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}:latest
