name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  call-reusable-ci:
    uses: ./.github/workflows/ci-reusable.yml
    with:
      node-version: 20
      run-smoke-test: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
